[Bb]in/
[Oo]bj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


*.nupkg
packages/
node_modules/

*.pdb
*.exe
*.dll


__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
*.egg

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/


*.spec
*.manifest