@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-primary fs-1 fw-bold">
    Ce vrei sa faci?
    </div>
    <div class="custom-container">
    <a class="btn btn-secondary px-4 py-1 fs-4 mx-2" asp-area="get_date" asp-controller="Date" asp-action="Statistici">Statistici</a>
    <a class="btn btn-secondary px-4 py-1 fs-4 mx-2" asp-area="get_date" asp-controller="Date" asp-action="Interogare">Interogare</a>
    
</div>

